
{{ $bundle := .Get 0 }}
{{ $match := .Get 1 }}
{{ $page := .Page.Site.GetPage $bundle }}
{{ with $page }}
{{ $resource := $page.Resources.GetMatch (printf "**%s*" $match ) }}
{{ with $resource }}
  <div class="strip about-bottom">
    <div class="container pt-2 pb-4">
      <div class="about-row">
        <div class="ulli-img">
          <img src="{{ .Params.image | relURL }}" />
        </div>
        <div class="ulli-text">
          <div class="inner-bottom">
            {{ .Content }}
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}
{{ end }}
