<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          {{ if .Site.Data.social }}
          <ul class="social">
              {{ range .Site.Data.social }}
                  <li><a href="{{ .link }}" target="blank"><img width="20" height="20" src="{{ .image | relURL }}" title="{{ .name }}" alt="{{ .name }}" /></a></li>
              {{ end }}
          </ul>
          {{ end }}
          <ul class="footer-contact">
            {{ if .Site.Data.contact.phone }}
            <li><a><img class="footer-phoneIcon" src="{{ .Site.Data.contact.phoneIcon }}" />
              {{ .Site.Data.contact.phone }}</a>
            </li>
            {{ end }}
            {{ if .Site.Data.contact.email }}
            <li>
              <div style="display: inline-flex;">
                <div><img class="footer-emailIcon" src="{{ .Site.Data.contact.emailIcon }}">
                </div>
                <a class="footer-email" href="mailto:{{ .Site.Data.contact.email }}">contact@topwise<wbr>support.com.au</a>
              </div>
            </li>
              {{ end }}
          </ul>
          <ul class="footer-menu">
            <li><a href="{{ .Site.BaseURL }}">Home</a></li>
            <li><a href="{{ .Site.BaseURL }}contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
