<div class="respect">
  <div class="container pt-0 pb-0 pt-md-1 pb-md-1 pt-lg-2 pb-lg-2 pt-xl-3 pb-xl-3 pl-md-0 pr-md-0">
    <div class="row mr-lg-0 flex-md-nowrap">
      <div class="resl">
        <p>Topwise Support acknowledges the Traditional Custodians of country throughout Australia and their connections to land, sea and community. We pay our respect to Aboriginal and Torres Strait Islander cultures; and to Elders past and present.</p>
      </div>
	<ul class="flag">
        <li><img height="auto" width="auto" src="/images/aboriginal-flag.png" /></li>
	  <li><img height="auto" width="auto" src="/images/tsi-flag.png" /></li>
        <li><img height="auto" width="auto" src="/images/rainbow-flag.png" /></li>
	</ul>
      <div class="resr">
        <p>We commit to ensuring everyone we work with is safe, empowered, supported and respected. We support and celebrate diversity of race, culture, ability, gender, sexuality and gender identity.</p>
      </div>
    </div>
  </div>
</div>